/* CSS styles */
body {
  background: black;
}

section {
  position: absolute;
  left: 50px;
  top: 10px;
  display: block;
  width: 520px;
  border-radius: 20px;
  background: white;
}

h1{
  color:grey;
  text-align: center;
  font-family: verdana;
  font-size: 32px;}

label {
  text-align: left;
  padding-left: 120px;
  line-height: 200%;
  font-family: arial;
}

button {
  -webkit-appearance: none;
  margin-left: 120px;
  border-radius: 3px;
  border-color: #000000;
  border-width: 1px;
  background-color: rgb(230, 230, 230);;
}

p{
  text-align: left;
  font-family: arial;
  margin-left: 120px;
}

h4 {
  padding-left: 25px;
  font-family: arial;
  font-weight: normal;
}
     
#principal {
  margin-left: 60px;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 25px;
}
          
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;
  background-color: rgb(0, 100, 255);
  outline: none;
  
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 8px;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  outline: none;
  
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(0, 100, 255);
  margin-top: -3px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(0, 100, 255);
  cursor: pointer;
}

/*Sorry I only use Safari/Chrome, hope it looks fine in Firefox*/
input[type=range]::-moz-range-progress {
  background: rgb(0, 100, 255);
}

input[type=range]:focus {
    outline: none;
}

#years {
  margin-left: 28px;
}
