body {
  background: black;
}

section {
  position: absolute;
  left: 50px;
  top: 5px;
  display: block;
  width: 400px;
  height: 250px;
  border-radius: 20px
  text-indent: 20px;
  background: white;
}

h1{
  color:grey;
  text-align: center;}

section {
  text-align: center;
  font-family: sans-serif;
}


